SQLALCHEMY_TRACK_MODIFICATIONS=False
SQLALCHEMY_RECORD_QUERIES=True
DEV_DATABASE_URI='postgresql+psycopg2://usuario:password@localhost:5432/DEV_SYSACAD'
TEST_DATABASE_URI='postgresql+psycopg2://usuario:password@localhost:5432/TEST_SYSACAD'
PROD_DATABASE_URI='postgresql://usuario:password@localhost:5432/SYSACAD'

# Microservicio de Gestion
GESTION_FLASK_ENV=development
GESTION_SECRET_KEY=super-secret-key
GESTION_DEV_DATABASE_URI=sqlite:///gestion_dev.db
GESTION_TEST_DATABASE_URI=sqlite:///:memory:
GESTION_DATABASE_URI='postgresql://usuario:password@localhost:5432/GESTION_SYSACAD'
HASHIDS_SALT=cambia-esta-sal
HASHIDS_MIN_LENGTH=10
HASHIDS_ALPHABET=abcdefghijklmnopqrstuvwxyz1234567890
