FLASK_ENV=development
GESTION_SECRET_KEY=super-secret-key
GESTION_DEV_DATABASE_URI=sqlite:///gestion_dev.db
HASHIDS_SALT=cambia-esta-sal
HASHIDS_MIN_LENGTH=10
HASHIDS_ALPHABET=abcdefghijklmnopqrstuvwxyz1234567890
