FLASK_ENV=development
PLANIFICACION_SECRET_KEY=super-secret-key
PLANIFICACION_DEV_DATABASE_URI=sqlite:///planificacion_dev.db
HASHIDS_SALT=cambia-esta-sal
HASHIDS_MIN_LENGTH=10
HASHIDS_ALPHABET=abcdefghijklmnopqrstuvwxyz1234567890
